{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
  <!-- Cabecera -->
  <section class="section about-heading bg-white clearfix">
    <div class="container">
      <div class="about-heading-content">
        <div class="col-xl-10 col-lg-10 mx-auto">
          <div class="intro">  
            <img class="intro-img img-fluid mb-3 mb-lg-0" src="{% static 'img/descarga.png' %}" alt="">
            <div class="intro-text left-0 text-justify bg-faded">
              <h1 class="titulo mb-3">
                <b>The Plumber</b><br>
                <b>You Deserve.</b>
              </h1>
              <p class="parrafo"><b>Mejores Ideas - Mejor Solución - Mejor Resultado</b></p>
              <p class="parrafo">With 19+ years' experience in combining traditions and innovations, 
                Arty creates settings to inspire the way people live, learn, heal, work and play.</p>
              <a class="buttom btn-light" href="#">Explora Ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modulo -->
  <section class="modulo3">
    <div class="container p-5">
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <div class="text-center">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">About Service</span>
            </h2>
            <p class="mb-0">Sed pulvinar blandit elit id venenatis. Ut eget lacus neque. Nullam justo quam, efficitur nec turpis vitae, efficitur posuere ligula. Proin ut turpis orci. Aenean porta sodales lectus faucibus pellentesque. In sed felis iaculis, rhoncus felis a, maximus mi.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="body text-center p-5">
      <h2>
        <span class="section-heading-upper">Are you interested in an estimate?</span>
        <a class="btn btn-primary btn-xl" href="#">Explora Ahora</a>
      </h2>
    </div>
  </section>

  <!-- Modulo 2 --> 
  <!-- ESTA LISTO NO TOCAR NADA DE ACA-->
  <section class="page-section bg-white">
    <div class="container ">
      <div class="row">
        <div class="mx-auto">
          <div class="modulo2 col-xl-6 left-0">
            <h6 class="t-dos mb-3">WHY CHOOSE US</h6>
            <h1 class="t-uno">Trusted Plumbing</h1>
            <h1 class="t-uno mb-4">Professionals</h1>
            <p class="uno">Courtesy may not be the first thing people think of when it comes to plumbing,
              but for us, it's one of the most important tools we carry.
            </p>    
            <p class="dos">Nothing wears on homeowners like the idea of handling plumbing problems. 
              From the water heater to sewer line, we take the pressure off of you 
              (and put it back in your shower lines). Our plumbers are the most recognized 
              professionals in the world because we’re committed to amazing service and nothing 
              wears on homeowners like the idea of handling plumbing problems.
            </p>
            <p class="tres">CALL ANYTIME... DAY OR NIGHT</p>
            <p class="cuatro">123-456-7890</p>
            <a class="btn btn-danger btn-xl" href="#">SHEDULE A SERVICE CALL</a>
          </div>
          <img class="img-plomero mb-3 mb-lg-0" src="{% static 'img/image2.png' %}" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Modulo 3 -->
  <!-- ESTA LISTO NO TOCAR NADA DE ACA-->
  <section class="modulo3 page-section">
    <div class="p-5">
      <div class="row">
        <div class="col-xl-7 mx-auto mb-4">
          <div class="text-center">
            <h1 class="t-tres mb-4">Our Service</h1>
            <p class="dos">There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
          </div>
        </div>
        <div class="col-xl-12 mx-auto">
          <!-- TRES CAJAS-->
          <div class="div caja1">
            <h1 class="t-caja">01</h1>
            <p class="cinco">Drain Clogs</p>
            <p class="seis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </div>
          <div class="div caja2">
            <h1 class="t-caja">02</h1>
            <p class="cinco">Broken Fixtures</p>
            <p class="seis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </div>
          <div class="div caja3">
            <h1 class="t-caja">03</h1>
            <p class="cinco">Putside Plumbing</p>
            <p class="seis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </div>
          
          <!--TRES CAJAS-->
          <div class="div caja1">
            <h1 class="t-caja">04</h1>
            <p class="cinco">Kitchen Plumbing</p>
            <p class="seis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </div>
          <div class="div caja5">
            <h1 class="t-caja">05</h1>
            <p class="cinco">Bathroom Plumbing</p>
            <p class="seis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </div>
          <div class="div caja6">
            <h1 class="t-caja">06</h1>
            <p class="cinco">Plumbing Leaks</p>
            <p class="seis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modulo 4 -->
  <!-- ESTA LISTO NO TOCAR NADA DE ACA-->
  <section class="body page-section">
      <div class="p-5">
        <div class="row">
          <div class="col-xl-7 mx-auto">
            <div class="text-center">
              <h1 class="t-cuatro mb-4">Meet The Team</h1>
              <p class="siete">There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been.</p>
            </div>
          </div>
          <div class="col-xl-12 mx-auto">
            <!-- CUATRO CAJAS-B-->
            <div class="div-b caja1">
              <img class="img-plomeros mb-4" src="{% static 'img/plomero1.jpeg' %}" alt="">
              <h6 class="p cinco-2">Nashid Martines</h6>
              <p class="p seis-2">DIRECTOR</p>
              
              <!--ICONOS REDES SOCIALES-->
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <!--FIN ICONOS REDES SOCIALES-->
            </div>
            <div class="div-b caja2-b">
              <img class="img-plomeros mb-4" src="{% static 'img/plomero.jpg' %}" alt="">
              <h6 class="p cinco-2">Konne Backfield</h6>
              <p class="p seis-2">DESIGNER</p>

              <!--ICONOS REDES SOCIALES-->
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <!--FIN ICONOS REDES SOCIALES-->
            </div>
            <div class="div-b caja3-b">
              <img class="img-plomeros mb-4" src="{% static 'img/plomero3.jpeg' %}" alt="">
              <h6 class="p cinco-2">Hackson Willingham</h6>
              <p class="p seis-2">DEVELOPER</p>

              <!--ICONOS REDES SOCIALES-->
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <!--FIN ICONOS REDES SOCIALES-->
            </div>
            <div class="div-b caja4-b">
              <img class="img-plomeros mb-4" src="{% static 'img/plomero4.png' %}" alt="">
              <h6 class="p cinco-2">Konne Backfield</h6>
              <p class="p seis-2">MANAGER</p>

              <!--ICONOS REDES SOCIALES-->
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <!--FIN ICONOS REDES SOCIALES-->
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Modulo 5 -->
  <section class="modulo3 page-section">
      <div class="container p-5">
        <div class="row">
          <div class="col-xl-7 mx-auto">
            <div class="text-center">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Customer experience</span>
              </h2>
              <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
                 Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modulo 6 -->
  <section class="page-section bg-white">
      <div class="p-5">
        <div class="corre row">
          
          <div class="col-xl-3 mx-auto">
            <h1 class="t-cinco mb-3">plumber</h1>
            <p class="seis">Lorem ipsum dolor sit amet, consectetur at adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna the are aliqua.</p>
          </div>
          
          <div class="col-xl-3 mx-auto">
            <h4 class="t-seis mb-4">Information</h4>
            <ul class="menu-pie">
              <li>
                <a href="#">INICIO</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#">BLOG</a>
              </li>
              <li>
                <a href="#">CLASSES</a>
              </li>
              <li>
                <a href="#">INICIO</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#}">BLOG</a>
              </li>
              <li>
                <a href="#">CLASSES</a>
              </li>
            </ul>
          </div>

          <div class="col-xl-3 mx-auto">
            <h4 class="t-seis mb-4">Recent Posts</h4>
            <p>Lorem ipsum dolor sit amet, consectetur at adipisicing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna the are aliqua.</p>
          </div>

          <div class="col-xl-3 mx-auto">
            <h4 class="t-seis mb-4">Newsletter</h4>
            <div>
              <input  class="input mb-4" name="email" type="email" required="required" placeholder="Your Email Address">
              <button class="buttom btn-danger" name="submit" value="submit" type="submit">SUBSCRIBE</button>
            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}